#list-main-container{
    background-color: bisque;
    min-height: 94.5vh;
    .title-list-container{
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center; 
            .title-list{    
                font-size: 2.5rem;
            }
    }

    
}

.list-container{
    background-color:aquamarine;
    display: flex;
    height: 80vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6.5rem;
        margin: .5rem;
        width: 40rem;
        background-color: cadetblue;
        padding: 1.5rem;
        border-radius: 1.5rem;
    }
    .item-content{
        font-size: 2.5rem;
    }
    .delete-btn{
        padding: 1rem 2rem;
        &:hover{
            box-shadow: none;
        }
    }
}

.list-study-btn-container{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flash-card{
    background-color: brown;
    height: 60rem;
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .flash-word{
        font-size: 3rem;
    }

    
}


.flip-btn-inner-container{
    // background-color: rgb(168, 178, 175);
    width: 60rem;
    margin-top: 1rem;
    // height: 10rem;

    .flip{
        width: 100%;
    }
}

.flash-card-btn-inner-container{
    margin-top: 2rem;
    width: 60rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}