#list-main-container{
    // background-color: bisque;
    min-height: 93.5vh;
    .title-list-container{
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center; 
            .title-list{    
                font-size: 2.5rem;
                
            }
    }

    
}

.list-container{
    display: flex;
    height: 80vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7.5rem;
        margin: 1rem;
        width: 60rem;
        border: 2px solid rgb(251, 139, 78);
        padding: 1.5rem;
        border-radius: 1.5rem;
        box-shadow: 0 10px 20px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.1);
    }
    .item-content{
        font-size: 3.1rem;
    }
    .delete-btn{
        padding: 1rem 2rem;
        &:hover{
            box-shadow: none;
        }
    }
}

.list-study-btn-container{
    height: 8.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 139, 78);

    .study{
        padding: 1.8rem 23rem;
    }
}

.flash-card{
    margin-top: 2rem;
    // background-color: rgb(255, 255, 255);
    border: 4px solid rgb(251, 139, 78);
    box-shadow: 0 10px 20px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.1);
    height: 60rem;
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-bottom: 2rem;
    
    .flash-word{
        margin: 4rem;
    }
    .word{
        font-size: 5rem;
    }
    .definition{
        font-size: 3rem;
    }
}


.flip-btn-inner-container{
    width: 60rem;
    margin-top: 1rem;
    
    .flip{
        width: 100%;
    }
}

.flash-card-btn-inner-container{
    margin-top: 2rem;
    width: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .previous-flash-card{
        // padding: 1.5rem 5rem;
        width: 23rem;
    }
    .next-flash-card{
        // padding: 1.5rem 5rem;
        width: 23rem;
    }
}